.basic-div {
    font-style: normal;
    background-color: RGB(240, 240, 240);
    border: 1px solid RGB(200, 200, 200);
    border-radius: 4px;
    margin: 10px auto;
    width: 1000px;
    padding: 10px;
}

#header {
    background: white;
    position: fixed;
    width: 100%;
    height: 93px;
    left: 0;
    top: 0;
    z-index: 1
}
