{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/menu.css' %}">
    <link rel="stylesheet" href="{% static 'main/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'main/modals.css' %}">
    <link rel="stylesheet" href="{% static 'main/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'main/content.css' %}">
    <link rel="stylesheet" href="{% static 'main/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/search_elements.css' %}">
    <script src="{% static 'main/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'main/common.js' %}"></script>
    <title>MiniStorage</title>
</head>
<body>

{% block message %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>