{% extends 'main/index.html' %}

{% block content %}
    <div class="basic-div content-div" id="content-div">
        <div class="operation-div">
            <span class="span-button" id="create-product-button">Создать</span>
            <input type="text" name="product-search-field" id="product-search-field" value="">
            <span class="span-button" id="search-product-button">Найти</span>
            <span class="span-button" id="clear-search-field-button">Очистить</span>
        </div>
        <table id="content-table" class="content-table">
            <tr>
                <th column-key="id" display-name="Номер">Номер</th>
                <th column-key="title" display-name="Наименование">Наименование</th>
                <th column-key="category" display-name="Категория">Категория</th>
                <th column-key="dt_created" display-name="Дата создания">Дата создания</th>
                <th column-key="dt_updated" display-name="Дата изменения">Дата изменения</th>
                <th column-key="to_remove" display-name="Удл.">Удл.</th>
            </tr>
        </table>
        <div class="navigation-div">
            <span class="span-button" id="prev-page-button">Предыдущая страница</span>
            <span class="span-button" id="next-page-button">Следующая страница</span>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal" id="contractor-editor" style="display: none">
    <div>
        <div>
            <span class="span-button" id="contractor-editor-close-button">X</span>
        </div>
        <div>
            Номер: <span id="contractor-number"></span><br><br>
            Дата создания: <span id="contractor-dt-created"></span><br><br>
            Дата изменения <span id="contractor-dt-updated"></span><br><br>
            <fieldset>
                Наименование:<br><input type="text" name="contractor-title" id="contractor-title" value="" required><br><br>
                Категория:
                <select name="contractor-category" id="contractor-category">
                    <option value="">--выберите категорию--</option>
                </select><br><br>
                Пометить на удаление: <input type="checkbox" name="contractor-to-remove" id="contractor-to-remove">
            </fieldset>
        </div>
        <br>
        <div>
            <span class="span-button" id="contractor-editor-cancel-button">Отмена</span>
            <span class="span-button" id="contractor-editor-save-button">Сохранить</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
