{% extends 'main/index.html' %}
{% load static %}

{% block content %}
    <div class="basic-div content-div"><strong>Импорт справочника товаров</strong></div>
    <div class="basic-div content-div" id="content-div">
        <p>
            Справочник товаров должен быть представлен в виде xlsx-файла со структурой, подобной приведенной ниже.
            Первая строка файла считается строкой-заголовком таблицы и игнорируется. Импорт идет до тех пор, пока не
            в файле не встретится первая пустая строка. Лист с данными о товарах дожен иметь имя "data".
            Импортированые товары будут добавлены в текущий справочник.
        </p>
        <table class="content-table">
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
            </tr>
            <tr>
                <td>Товар 1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Товар 2</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>Товар 3</td>
                <td>1500</td>
            </tr>
        </table>
        <br>
        <div class="operation-div">
            Выберите файл: <input type="file" name="file" id="file" accept=".xlsx">
            <span class="span-button" id="import-button">Импортировать</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const apiImportProductsURL = "/api/import_products/";

        $("#import-button").click(() => {
            let file = $("#file").prop("files")[0];

            let formData = new FormData();
            formData.append("uploaded_file", file);

            $.ajax(apiImportProductsURL, {
                "method": "POST",
                "data": formData,
                "processData": false,
                "contentType": false,
                "success": function () {
                    showMessage("Файл успешно импортирован");
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR);
                }
            })
        });
    </script>
{% endblock %}