{% extends 'main/base_templat.html' %}

{% block content %}
    <div class="basicDiv">
        <ul id="main-menu-bar">
            <li class="main-menu-list-element">
                <span class="menu-item">
                    {% if user.first_name or user.last_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user }}
                    {% endif %}
                </span>
                <ul class="drop-down-menu">
                    <li class="drop-down-menu-list-element">
                        <span class="menu-item">
                            <a class="menu-link" href="{% url 'logout' %}">Выйти</a>
                        </span>
                    </li>
                </ul>
            </li>
            <li class="main-menu-list-element">
                <span class="menu-item">Справочники</span>
                <ul class="drop-down-menu">
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Товары</span>
                    </li>
                    <li class="drop-down-menu-list-element">
                        <span class="menu-item">Контрагенты</span>
                    </li>
                </ul>
            </li>
            <li class="main-menu-list-element">
                <span class="menu-item">Документы</span>
                <ul class="drop-down-menu">
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Приходные документы</span>
                    </li>
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Расходные документы</span>
                    </li>
                </ul>
            </li>
            <li class="main-menu-list-element">
                <span class="menu-item">Отчеты</span>
                <ul class="drop-down-menu">
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Остатки товаров на складе</span>
                    </li>
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Движение в разрезе товаров</span>
                    </li>
                    <li class="dropDownMenuListElement">
                        <span class="menu-item">Движение в разрезе контрагентов</span>
                    </li>
                </ul>
            </li>
            <li class="main-menu-list-element">
                <span class="menu-item">
                    <a class="menu-link" href="/admin/">Администрирование</a>
                </span>
            </li>
        </ul>
    </div>
{% endblock %}