{% extends 'main/base_templat.html' %}

{% block content %}
    <div id="menu-div">
        <div class="basic-div">
            <ul id="main-menu-bar">
                <li class="main-menu-list-element">
                <span class="menu-item">
                    {% if user.first_name or user.last_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user }}
                    {% endif %}
                </span>
                    <ul class="drop-down-menu">
                        <li class="drop-down-menu-list-element">
                        <span class="menu-item">
                            <a class="menu-link" href="{% url 'logout' %}">Выйти</a>
                        </span>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-element">
                    <span class="menu-item">Справочники</span>
                    <ul class="drop-down-menu">
                        <li class="dropDownMenuListElement">
                            <span class="menu-item" id="show-products-button">Товары</span>
                        </li>
                        <li class="drop-down-menu-list-element">
                            <span class="menu-item">Контрагенты</span>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-element">
                    <span class="menu-item">Документы</span>
                    <ul class="drop-down-menu">
                        <li class="dropDownMenuListElement">
                            <span class="menu-item">Приходные документы</span>
                        </li>
                        <li class="dropDownMenuListElement">
                            <span class="menu-item">Расходные документы</span>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-element">
                    <span class="menu-item">Отчеты</span>
                    <ul class="drop-down-menu">
                        <li class="dropDownMenuListElement">
                            <span class="menu-item">Остатки товаров на складе</span>
                        </li>
                        <li class="dropDownMenuListElement">
                            <span class="menu-item">Движение в разрезе товаров</span>
                        </li>
                        <li class="dropDownMenuListElement">
                            <span class="menu-item">Движение в разрезе контрагентов</span>
                        </li>
                    </ul>
                </li>
                <li class="main-menu-list-element">
                <span class="menu-item">
                    <a class="menu-link" href="/admin/">Администрирование</a>
                </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-div" id="content-div"></div>

    <div class="modal-div" id="product-editor">
        <div class="modal-content-div">
            <div style="display: flex; justify-content: flex-end">
                <span class="close-button" id="close-product-detail-button">Закрыть</span>
            </div>
            <p id="product-details">
                Список значенией полей
            </p>
        </div>
    </div>

    <script>
        const showProductsButton = document.getElementById("show-products-button");
        const contentDiv = document.getElementById("content-div");
        const userToken = localStorage.getItem("user_token");
        let currentContent = null;

        function createContentTable(data, columnTitles, columnKeys) {
            let table = document.createElement("table");
            table.className = "content-table";
            table.id = "content-table";

            //Формируем строку заголовка таблицы
            let tableHeader = document.createElement("tr");
            let headerHTML = "";
            for (let columnTitle of columnTitles) {
                headerHTML += `<th>${columnTitle}</th>`;
            }
            tableHeader.innerHTML = headerHTML;
            table.append(tableHeader);

            //Формируем тело таблицы
            let cells = "";
            let tableRow = null;
            for (let dataElement of data) {
                for (let columnKey of columnKeys) {
                    cells += `<td>${dataElement[columnKey] ? dataElement[columnKey] : "- нет -"}</td>`
                }
                tableRow = document.createElement("tr");
                tableRow.setAttribute("obj-id", dataElement.id);
                tableRow.innerHTML = cells;
                table.append(tableRow);
                cells = "";
            }

            return table;
        }

        function showProducts(url) {
            fetch(url, {headers: {"Authorization": userToken}})
                .then(response => {
                    contentDiv.style.display = "block";
                    contentDiv.innerHTML = "";
                    return response.json()
                })
                .then(data => {
                    if (!data) return;
                    let nextPage = data.next;
                    let prevPage = data.previous;
                    let products = data.results;

                    let dateExp = /(\d\d\d\d)-(\d\d)-(\d\d)T(\d\d:\d\d)/;
                    for (let product of products) {
                        let [_, year, month, day, time] = dateExp.exec(product.dt_created);
                        product.dt_created = `${day}.${month}.${year} ${time}`;
                        [_, year, month, day, time] = dateExp.exec(product.dt_updated);
                        product.dt_updated = `${day}.${month}.${year} ${time}`;
                    }

                    let columnTitles = ["Номер", "Наименование", "Описание", "Цена", "Дата создания", "Дата изменения"];
                    let columnKeys = ["id", "title", "description", "price", "dt_created", "dt_updated"];
                    let table = createContentTable(products, columnTitles, columnKeys, productClick);
                    table.addEventListener("click", productClick);
                    contentDiv.append(table);

                    currentContent = products;

                    if (nextPage || prevPage) {
                        let navigationDiv = document.createElement("div");
                        navigationDiv.style.cssText = "display: flex; justify-content: center";
                        if (prevPage) {
                            let prevButton = document.createElement("span");
                            prevButton.className = "navigation-button";
                            prevButton.innerText = "Предыдущая страница";
                            prevButton.addEventListener("click", () => {
                                showProducts(prevPage)
                            });
                            navigationDiv.append(prevButton)
                        }
                        if (nextPage) {
                            let nextButton = document.createElement("span");
                            nextButton.className = "navigation-button";
                            nextButton.innerText = "Следующая страница";
                            nextButton.addEventListener("click", () => {
                                showProducts(nextPage)
                            });
                            navigationDiv.append(nextButton)
                        }
                        contentDiv.append(navigationDiv);
                    }
                })
        }

        function productClick(event) {
            let row = event.target.closest("tr");
            if (!row) return;

            let productId = row.getAttribute("obj-id");
            if (!productId) return;

            let productEditor = document.getElementById("product-editor");
            productEditor.style.display = "block";

            let closeProductDetailButton = document.getElementById("close-product-detail-button");
            closeProductDetailButton.addEventListener("click", () => {
                document.body.style.overflow = "auto";
                productEditor.style.display = "none";
            });

            document.body.style.overflow = "hidden";

            let selectedProduct = null;
            for (let product of currentContent) {
                if (product.id == productId) {
                    selectedProduct = product;
                    break;
                }
            }

            let productDetails = document.getElementById("product-details");
            let detailsContent = "";
            detailsContent += `<p>Номер: ${selectedProduct.id}</p>`;
            detailsContent += `<p>Дата создания: ${selectedProduct.dt_created}</p>`;
            detailsContent += `<p>Дата изменения: ${selectedProduct.dt_updated}</p>`;
            detailsContent += `<p>Наименование:<br> ${selectedProduct.title}</p>`;
            detailsContent += `<p>Описание:<br> ${selectedProduct.description ? selectedProduct.description : "- нет -"}</p>`;
            productDetails.innerHTML = detailsContent;
        }

        showProductsButton.addEventListener("click", () => showProducts("/api/products/"))

    </script>
{% endblock %}