{% extends 'main/index.html' %}
{% load static %}

{% block content %}
    <div class="basic-div content-div"><strong>Справочник товаров</strong></div>
    <div class="basic-div content-div" id="content-div">
        <div class="operation-div">
            <span class="span-button" id="create-button">Создать</span>
            <input type="text" name="search-field" id="search-field" value="">
            <span class="span-button" id="search-button">Найти</span>
            <span class="span-button" id="clear-search-field-button">Очистить</span>
        </div>
        <table id="content-table" class="content-table">
            <tr>
                <th column-key="id" display-name="Номер">Номер</th>
                <th column-key="title" display-name="Наименование">Наименование</th>
                <th column-key="description" display-name="Описание">Описание</th>
                <th column-key="price" display-name="Цена">Цена</th>
                <th column-key="dt_created" display-name="Дата создания">Дата создания</th>
                <th column-key="dt_updated" display-name="Дата изменения">Дата изменения</th>
                <th column-key="to_remove" display-name="Удл.">Удл.</th>
            </tr>
        </table>
        <div class="navigation-div">
            <span class="span-button" id="prev-page-button">Предыдущая страница</span>
            <span class="span-button" id="next-page-button">Следующая страница</span>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal" id="product-editor" style="display: none">
        <div>
            <div class="modal-control-buttons">
                <span class="span-button" id="product-editor-close-button">X</span>
            </div>
            <div>
                Номер: <span id="product-number"></span><br><br>
                Дата создания: <span id="product-dt-created"></span><br><br>
                Дата изменения <span id="product-dt-updated"></span><br><br>
                <fieldset>
                    Цена: <br><input type="text" name="product-price" id="product-price" value="0" required><br><br>
                    Наименование:<br><input type="text" name="product-title" id="product-title" value=""
                                            required><br><br>
                    Описание:<br><textarea name="product-description" id="product-description"></textarea><br><br>
                    Пометить на удаление: <input type="checkbox" name="product-to-remove" id="product-to-remove">
                </fieldset>
            </div>
            <br>
            <div class="modal-control-buttons">
                <span class="span-button" id="product-editor-cancel-button">Отмена</span>
                <span class="span-button" id="product-editor-save-button">Сохранить</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const apiURL = "/api/products/";

        function checkProductFormData() {
            //Проверяем корректность внесения данных
            if ($("#product-title").val().trim().length === 0) {
                throw new Error("Наименование не может быть пустым!");
            }
            if (!/^\d+$/.test($("#product-price").val())) {
                throw new Error("Поле цены заполнено некорректно!");
            }
        }

        function showProducts(url) {
            $.ajax(url, {
                "method": "GET",
                "dataType": "json",
                "success": function (data) {
                    let products, nextPage, prevPage;
                    if ("results" in data) {
                        products = data.results;
                        nextPage = data.next;
                        prevPage = data.previous;
                    } else {
                        products = [data];
                        nextPage = prevPage = null;
                    }

                    //Создаем таблицу со списком товаров
                    let $contentTable = $("#content-table");
                    $("tr:not(:first-child)", $contentTable).remove()
                    let $tableRow = null;
                    for (let product of products) {
                        formatDates(product);
                        $tableRow = $("<tr>");
                        $tableRow.append($("<td>").text(product.id));
                        $tableRow.append($("<td>").text(product.title));
                        $tableRow.append($("<td>").text(product.description));
                        $tableRow.append($("<td>").text(product.price));
                        $tableRow.append($("<td>").text(product.dt_created));
                        $tableRow.append($("<td>").text(product.dt_updated));
                        $tableRow.append($("<td>").text(product.to_remove ? "X" : "-"));
                        $tableRow.data("product", product);
                        $contentTable.append($tableRow);
                    }
                    $contentTable.on("click", "tr:not(:first-child)", productEdit);

                    createPaginationButtons(prevPage, nextPage, showProducts);
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR, $("#product-editor"));
                }
            })
        }

        function productEdit() {
            let selectedProduct = $.data(this, "product");

            let $row = $(this);

            showModal($("#product-editor"));
            $("#product-number").text(selectedProduct.id);
            $("#product-dt-created").text(selectedProduct.dt_created);
            $("#product-dt-updated").text(selectedProduct.dt_updated);
            $("#product-title").val(selectedProduct.title);
            $("#product-description").text(selectedProduct.description);
            $("#product-price").val(selectedProduct.price);
            $("#product-to-remove").prop("disabled", false);
            $("#product-to-remove").prop("checked", selectedProduct.to_remove);

            $("#product-editor-save-button").off().click(() => {
                //Проверяем корректность внесения данных в форму
                try {
                    checkProductFormData();
                } catch (error) {
                    alert(error.message);
                    return;
                }

                let urlForRequest = `${apiURL}${selectedProduct.id}/`;
                $.ajax(urlForRequest, {
                    "method": "PATCH",
                    "dataType": "json",
                    "data": {
                        "title": $("#product-title").val(),
                        "description": $("#product-description").val(),
                        "price": $("#product-price").val(),
                        "to_remove": $("#product-to-remove:checked").val() ? true : false
                    },
                    "success": function (data) {
                        formatDates(data);

                        $row.empty();
                        $row.append($("<td>").text(data.id));
                        $row.append($("<td>").text(data.title));
                        $row.append($("<td>").text(data.description));
                        $row.append($("<td>").text(data.price));
                        $row.append($("<td>").text(data.dt_created));
                        $row.append($("<td>").text(data.dt_updated));
                        $row.append($("<td>").text(data.to_remove ? "X" : "-"));
                        $row.data("product", data);

                        closeModal($("#product-editor"));
                    },
                    "error": function (jqXHR) {
                        showAjaxError(jqXHR, $("#product-editor"));
                    }
                })
            });
        }

        function productCreate() {
            showModal($("#product-editor"));

            $("#product-number").text("-");
            $("#product-dt-created").text("-");
            $("#product-dt-updated").text("-");
            $("#product-title").val("");
            $("#product-description").text("");
            $("#product-price").val("0");
            $("#product-to-remove").prop("disabled", true);
            $("#product-to-remove").prop("checked", false);

            $("#product-editor-save-button").off().click(() => {
                try {
                    checkProductFormData();
                } catch (error) {
                    alert(error.message)
                    return;
                }

                $.ajax(apiURL, {
                    "method": "POST",
                    "dataType": "json",
                    "data": {
                        "title": $("#product-title").val(),
                        "description": $("#product-description").val(),
                        "price": $("#product-price").val()
                    },
                    "success": function (data) {
                        closeModal($("#product-editor"));
                        $("#search-field").val(data.id);
                        showProducts(`${apiURL}${data.id}`);
                    },
                    "error": function (jqXHR) {
                        showAjaxError(jqXHR, $("#product-editor"));
                    }
                })
            })
        }

        let productSearch = getSearchFunction(showProducts, getDefaultSearchParams, apiURL);

        let productSort = getSortFunction(showProducts, getDefaultSearchParams, apiURL);

        $("#clear-search-field-button").click(() => {
            $("#search-field").val("");
            productSearch();
        });
        $("#create-button").click(productCreate);
        $("#search-button").click(productSearch);
        $("#product-editor-close-button, #product-editor-cancel-button").click(() => closeModal($("#product-editor")));
        $("#content-table th").click(productSort);

        showProducts(apiURL);
    </script>
{% endblock %}
