{% extends 'main/index.html' %}
{% load static %}

{% block content %}
    <div class="basic-div content-div"><strong>Удаление помеченных объектов</strong></div>
    <div class="basic-div content-div" id="content-div">
        <p>Отправляю запрос на удаление помеченных объектов...</p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const apiRemoveObjectsURL = "/api/remove_marked_objects/";

        let $contentDiv = $("#content-div");

        $.ajax(apiRemoveObjectsURL, {
            "method": "POST",
            "dataType": "json",
            "success": function (data) {
                $contentDiv.empty();

                let successList, failList, $successList, $failList, $reportBlock;
                for (let deleteDescription of data) {
                    successList = deleteDescription['success_list'];
                    failList = deleteDescription['fail_list'];

                    $reportBlock = $("<p>").addClass("report-block");
                    $reportBlock.append($("<strong>").text(deleteDescription.description));

                    if (successList.length !== 0) {
                        $reportBlock.append($("<p>").text("Успешно удалены:"));
                        $successList = $("<ul>");
                        for (let successObj of successList) {
                            $successList.append($("<li>").text(successObj));
                        }
                        $reportBlock.append($successList);
                    }

                    if (failList.length !== 0) {
                        $reportBlock.append($("<p>").text("Не удалось удалить:"));
                        $failList = $("<ul>");
                        for (let failObj of failList) {
                            $failList.append($("<li>").text(failObj));
                        }
                        $reportBlock.append($failList);
                    }

                    $contentDiv.append($reportBlock);
                }
            },
            "error": function (jqXHR) {
                $contentDiv.empty();
                showAjaxError(jqXHR);
            }
        })

        //TODO Вставить скрипты отправки запроса на удаление
    </script>
{% endblock %}