{% extends 'main/index.html' %}
{% load static %}

{% block content %}
    <div class="basic-div content-div" id="content-div">

        <div class="operation-div">
            <input type="text" name="search-storage-item-field" id="search-storage-item-field" value="">
            <span class="span-button" id="search-storage-item-button">Найти</span>
            <span class="span-button" id="clear-search-storage-item-field-button">Очистить</span>
            <span class="span-button" id="show-storage-item-append-div-button">+</span>
        </div>

        <div class="operation-div" id="storage-item-append-div" style="display: none">
            <input type="text" name="search-product-field" id="search-product-field" value="">
            <span class="span-button" id="search-product-button">Найти</span>
            <span class="span-button" id="clear-search-product-field-button">Очистить</span>
        </div>

        <div class="search-result-div" id="search-product-result-div" style="display: none">
            Здесь будут результаты поиска
            <p>
                Этот длинный абзац текста введен сюда для примера.
                Не тратьте свое время и нервы на обманщиков!
                Будьте в курсе где не стоит работать!
                Пишите в "Предложить новость" о людях и организациях с недобросовестным обслуживанием, о неудачном опыте
                походов в кафе, магазины. Пусть все знают!
                Вы решили нормально отдохнуть, а вас развели на счет, мы хотим точно знать название этого клуба.
                Мы не стремимся к тому, чтобы негативных отзывов было много, и предпринимательство Краснодара
                загибалось. Мы действительно хотим, чтобы люди просто уважали людей только за то, что они люди.
            </p>
        </div>
        <table id="content-table" class="content-table">
            <tr>
                <th column-key="product" display-name="Номер">Номер</th>
                <th column-key="product_title" display-name="Наименование">Наименование</th>
                <th column-key="count" display-name="Количество">Количество</th>
            </tr>
        </table>
        <div class="navigation-div">
            <span class="span-button" id="prev-page-button">Предыдущая страница</span>
            <span class="span-button" id="next-page-button">Следующая страница</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/common_for_catalogs.js' %}"></script>
    <script>
        const apiURL = "/api/storage_items/";

        function showStorageItems(url) {
            $.ajax(url, {
                "method": "GET",
                "dataType": "json",
                "success": function (data) {
                    let storageItems = data.results;
                    let nextPage = data.next;
                    let prevPage = data.previous;

                    //Создаем таблицу со списком контрагентов
                    let $contentTable = $("#content-table");
                    $("tr:not(:first-child)", $contentTable).remove()
                    let $tableRow = null;
                    for (let storageItem of storageItems) {
                        $tableRow = $("<tr>");
                        $tableRow.append($("<td>").text(storageItem.product));
                        $tableRow.append($("<td>").text(storageItem.product_title));
                        $tableRow.append($("<td>").text(storageItem.count));
                        $contentTable.append($tableRow);
                    }

                    let $prevPageButton = $("#prev-page-button");
                    if (prevPage) {
                        $prevPageButton.show();
                        $prevPageButton.off();
                        $prevPageButton.click(() => {
                            showStorageItems(prevPage);
                        })
                    } else {
                        $prevPageButton.hide();
                    }

                    let $nextPageButton = $("#next-page-button");
                    if (nextPage) {
                        $nextPageButton.show();
                        $nextPageButton.off();
                        $nextPageButton.click(() => {
                            showStorageItems(nextPage);
                        })
                    } else {
                        $nextPageButton.hide();
                    }
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR, $("#contractor-editor"));
                }
            })
        }

        let storageItemsSearch = getSearchFunction(showStorageItems, $("#search-storage-item-field"));

        let storageItemSort = getSortFunction(showStorageItems);

        //Обработчики для событий панели поиска StorageItem
        $("#search-storage-item-button").click(() => {
            storageItemsSearch();
            $("#search-product-result-div").hide();
        });
        $("#clear-search-storage-item-field-button").click(() => {
            $("#search-storage-item-field").val("");
            storageItemsSearch();
            $("#search-product-result-div").hide();
        });
        $("#show-storage-item-append-div-button").click(() => {
            let buttonText = $("#show-storage-item-append-div-button").text();
            buttonText = buttonText === "-" ? "+" : "-";
            $("#show-storage-item-append-div-button").text(buttonText);
            $("#storage-item-append-div").slideToggle("normal");
            $("#search-product-result-div").hide();
        });

        //Обработчики событий панели добавления остатков
        $("#search-product-button").click(() => {
            $("#search-product-result-div").show();
        });

        //Обработчик события клика по заголовку столбца (сортировка)
        $("#content-table th").click(storageItemSort);

        showStorageItems(apiURL);
    </script>
{% endblock %}