{% extends 'main/index.html' %}
{% load static %}

{% block content %}
    <div class="basic-div content-div"><strong>Остатки на складе</strong></div>
    <div class="basic-div content-div" id="content-div">
        <div class="operation-div">
            <input type="text" name="search-si-field" id="search-si-field" value="">
            <span class="span-button" id="search-si-button">Найти</span>
            <span class="span-button" id="clear-search-si-field-button">Очистить</span>
            <span class="span-button" id="show-si-append-div-button">+</span>
        </div>

        <div class="operation-div" id="si-append-div" style="display: none">
            <input type="text" name="search-p-field" id="search-p-field" value="">
            <span class="span-button" id="search-p-button">Найти</span>
            <span class="span-button" id="clear-search-p-field-button">Очистить</span>
        </div>

        <div class="search-result-div" id="search-p-result-div" style="display: none"></div>

        <table id="content-table" class="content-table">
            <tr>
                <th column-key="product" display-name="Номер">Номер</th>
                <th column-key="product_title" display-name="Наименование">Наименование</th>
                <th column-key="count" display-name="Количество">Количество</th>
                <th column-key="dt_created" display-name="Дата создания">Дата создания</th>
                <th column-key="dt_updated" display-name="Дата изменения">Дата изменения</th>
                <th column-key="to_remove" display-name="Удл.">Удл.</th>
            </tr>
        </table>
        <div class="navigation-div">
            <span class="span-button" id="prev-page-button">Предыдущая страница</span>
            <span class="span-button" id="next-page-button">Следующая страница</span>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal" id="si-editor" style="display: none">
        <div>
            <div class="modal-control-buttons">
                <span class="span-button" id="si-close-button">X</span>
            </div>
            <div>
                Номер: <span id="product-number"></span><br><br>
                Наименование: <span id="product-title"></span><br><br>
                Дата создания: <span id="product-dt-created"></span><br><br>
                Дата изменения <span id="product-dt-updated"></span><br><br>
                <fieldset>
                    Количество: <input type="text" name="product-count" id="product-count" value="" required><br><br>
                    Пометить на удаление: <input type="checkbox" name="product-to-remove" id="product-to-remove">
                </fieldset>
            </div>
            <br>
            <div class="modal-control-buttons">
                <span class="span-button" id="si-cancel-button">Отмена</span>
                <span class="span-button" id="si-save-button">Сохранить</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const apiURL = "/api/storage_items/";
        const apiProductsURL = "/api/products/";
        const isSuperuser = "{{ user.is_superuser }}" === "True" ? true : false;

        function showStorageItems(url) {
            $.ajax(url, {
                "method": "GET",
                "dataType": "json",
                "success": function (data) {
                    let storageItems, nextPage, prevPage;
                    if ("results" in data) {
                        storageItems = data.results;
                        nextPage = data.next;
                        prevPage = data.previous;
                    } else {
                        storageItems = [data];
                        nextPage = prevPage = null;
                    }

                    //Создаем таблицу со списком контрагентов
                    let $contentTable = $("#content-table");
                    $("tr:not(:first-child)", $contentTable).remove()
                    let $tableRow = null;
                    for (let storageItem of storageItems) {
                        formatDates(storageItem);
                        $tableRow = $("<tr>");
                        $tableRow.append($("<td>").text(storageItem.product));
                        $tableRow.append($("<td>").text(storageItem.product_title));
                        $tableRow.append($("<td>").text(storageItem.count));
                        $tableRow.append($("<td>").text(storageItem.dt_created));
                        $tableRow.append($("<td>").text(storageItem.dt_updated));
                        $tableRow.append($("<td>").text(storageItem.to_remove ? "X" : "-"));
                        $tableRow.data("storageItem", storageItem);
                        $contentTable.append($tableRow);
                    }
                    if (isSuperuser) {
                        $contentTable.on("click", "tr:not(:first-child)", storageItemEdit);
                    } else {
                        $contentTable.on("click", "tr:not(:first-child)", () => {
                            showMessage("Редактирование остатков разрешено только администратору");
                        });
                    }

                    createPaginationButtons(prevPage, nextPage, showStorageItems);
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR);
                }
            })
        }

        function storageItemEdit() {
            let selectedStorageItem = $(this).data("storageItem");

            let $row = $(this);

            showModal($("#si-editor"));
            $("#product-number").text(selectedStorageItem.product);
            $("#product-dt-created").text(selectedStorageItem.dt_created);
            $("#product-dt-updated").text(selectedStorageItem.dt_updated);
            $("#product-title").text(selectedStorageItem.product_title);
            $("#product-count").val(selectedStorageItem.count);
            $("#product-to-remove").prop("disabled", false);
            $("#product-to-remove").prop("checked", selectedStorageItem.to_remove);

            $("#si-save-button").off().click(() => {
                //Проверяем корректность данных, введенных в форму
                try {
                    checkCountValue($("#product-count"));
                } catch (error) {
                    alert(error.message);
                    return;
                }

                //TODO Вставить код отправки измененных данных на сервер
                let urlForRequest = `${apiURL}${selectedStorageItem.id}/`;
                $.ajax(urlForRequest, {
                    "method": "PATCH",
                    "dataType": "json",
                    "data": {
                        "count": $("#product-count").val(),
                        "to_remove": $("#product-to-remove:checked").val() ? true : false
                    },
                    "success": function (data) {
                        formatDates(data);

                        $row.empty();
                        $row.append($("<td>").text(data.product));
                        $row.append($("<td>").text(data.product_title));
                        $row.append($("<td>").text(data.count));
                        $row.append($("<td>").text(data.dt_created));
                        $row.append($("<td>").text(data.dt_updated));
                        $row.append($("<td>").text(data.to_remove ? "X" : "-"));
                        $row.data("storageItem", data);

                        closeModal($("#si-editor"));
                    },
                    "error": function (jqXHR) {
                        showAjaxError(jqXHR, $("#si-editor"));
                    }
                })
            });
        }

        let getSearchParams = function () {
            let searchText = $("#search-si-field").val();
            return searchText ? `search=${searchText}` : "";
        }

        let storageItemsSearch = getSearchFunction(showStorageItems, getSearchParams, apiURL);

        let storageItemSort = getSortFunction(showStorageItems, getSearchParams, apiURL);

        let downloadProductsList = getDownloadListFunction($("#search-p-result-div"));

        let scrollProductsList = getScrollListFunction(downloadProductsList);

        //Обработчики для событий панели поиска StorageItem
        $("#search-si-button").click(() => {
            storageItemsSearch();
            $("#search-p-result-div").hide();
        });
        $("#clear-search-si-field-button").click(() => {
            $("#search-si-field").val("");
            storageItemsSearch();
            $("#search-p-result-div").hide();
        });

        if (isSuperuser) {
            $("#show-si-append-div-button").click(() => {
                let buttonText = $("#show-si-append-div-button").text();
                buttonText = buttonText === "-" ? "+" : "-";
                $("#show-si-append-div-button").text(buttonText);
                $("#si-append-div").slideToggle("normal");
                $("#search-p-result-div").hide();
            });

            //Обработчики событий панели добавления остатков
            $("#search-p-button").click(() => {
                let searchString = $("#search-p-field").val();
                if (!searchString) {
                    return;
                }

                let $resultDiv = $("#search-p-result-div");
                $resultDiv.empty();
                $resultDiv.slideDown("normal");

                downloadProductsList(`${apiProductsURL}?search=${searchString}`);
            });
            $("#search-p-result-div").scroll(scrollProductsList);
            $("#clear-search-p-field-button").click(() => {
                $("#search-p-field").val("");
                $("#search-p-result-div").slideUp("normal");
            });
            $("#search-p-result-div").click((event) => {
                let product = $(event.target).data("element")
                if (!product) {
                    return;
                }
                $("#search-p-result-div").slideUp();

                $.ajax(apiURL, {
                    "method": "POST",
                    "dataType": "json",
                    "data": {
                        "product": product.id,
                        "count": 1
                    },
                    "success": function (data) {
                        $("#search-si-field").val(data.id);
                        showStorageItems(`${apiURL}${data.id}`);
                    },
                    "error": function (jqXHR) {
                        showAjaxError(jqXHR);
                    }
                })
            });

            //Обработчики событий кнопок закрытия модального окна
            $("#si-close-button, #si-cancel-button").click(() => closeModal($("#si-editor")));
        } else {
            $("#show-si-append-div-button").hide();
        }

        //Обработчик события клика по заголовку столбца (сортировка)
        $("#content-table th").click(storageItemSort);

        showStorageItems(apiURL);
    </script>
{% endblock %}